---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

type Props = { post: CollectionEntry<'blog'> };

const { post } = Astro.props;
const { title, seo, publishDate } = post.data;
const { Content } = await render(post);
---

<BaseLayout
  title={seo?.title ?? title}
  description={seo?.description}
  image={seo?.image}
  showHeader={false}
>
  <article class="mb-16 sm:mb-24">
    <header class="mb-8">
      <h1 class="text-3xl leading-tight font-serif font-medium sm:text-5xl sm:leading-tight">
        {title}
      </h1>
      <time datetime={publishDate.toISOString()}>
        {publishDate.toLocaleDateString('es-PE', { dateStyle: 'long' })}
      </time>
    </header>
    <div class="max-w-none prose sm:prose-lg">
      <Content />
    </div>
  </article>
</BaseLayout>
